* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #F5FAFE;
  color: #333333;
}

.container {
  max-width: 1110px;
  margin: auto;
}

img {
  max-width: 100%;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.navbar {
  background-color: #fff;
}
.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.navbar-top__menu-button {
  display: none;
}
.navbar__search {
  margin-right: auto;
  margin-left: 108px;
}
.navbar-bottom {
  background-color: #0A223D;
}
.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 31px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}
.navbar-menu__link {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.logo {
  width: 177px;
}

.search {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  height: 40px;
}
.search__input {
  width: 350px;
  height: 100%;
  padding-left: 23px;
  padding-right: 75px;
  background-color: #F5FAFE;
  border: none;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}
.search__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 65px;
  height: 100%;
  border: none;
  background-color: #EC1F46;
}

.user {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user__name {
  margin-left: 18px;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.breadcrumb-list {
  display: flex;
  align-items: center;
  padding: 18px 0;
  margin: 0;
  list-style: none;
}
.breadcrumb-list__item {
  font-size: 10px;
  line-height: 13px;
}
.breadcrumb-list__item:not(:last-child)::after {
  content: "/";
  margin-right: 4px;
}
.breadcrumb-list__link {
  text-decoration: none;
  color: inherit;
}

.hotel {
  padding-top: 23px;
  padding-bottom: 70px;
}
.hotel-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hotel-info__offer {
  margin-left: 14px;
  margin-top: 4px;
}
.hotel-info__name {
  margin-top: 4px;
  margin-bottom: 5px;
}
.hotel-name {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
.hotel-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hotel-description {
  font-size: 12px;
  line-height: 15px;
}

.stars {
  display: flex;
  flex-basis: 100%;
}

.offer {
  font-size: 10px;
  line-height: 13px;
  padding: 4px 9px;
  background-color: #EC1F46;
  color: #ffffff;
  border-radius: 3px;
}

.rating {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  max-width: 65px;
  min-height: 45px;
  padding: 9px 7px;
  background-color: #EC1F46;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
}
.rating__text {
  font-size: 8px;
  line-height: 10px;
}
.rating__counter {
  font-size: 12px;
  line-height: 15px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .navbar-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .navbar__search {
    margin-left: auto;
  }
  .navbar-menu {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .navbar-menu__link {
    font-size: 12px;
    line-height: 15px;
  }
  .search__input {
    width: 340px;
  }
  .logo {
    width: 133px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 92%;
  }
  .navbar__search, .navbar-menu, .navbar__user {
    display: none;
  }
  .menu-button {
    display: flex;
    width: 16px;
    height: 11px;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  .menu-button__line {
    width: 16px;
    height: 1px;
    background-color: #333333;
  }
  .stars {
    flex-basis: auto;
  }
  .hotel-wrapper {
    justify-content: space-between;
  }
  .hotel-name {
    flex-basis: 100%;
  }
  .hotel-info__text {
    width: 100%;
  }
  .hotel-info__name {
    margin-top: 10px;
  }
  .hotel-info__rating {
    display: none;
  }
  .hotel-info__offer {
    order: -1;
    margin: 0;
  }
}
@media (max-width: 576px) {
  .logo {
    width: 99px;
  }
}/*# sourceMappingURL=style.css.map */